/* Adjustments for screens with max width of 1440px */
@media screen and (max-width: 1440px) {
    #profile {
        height: 83vh;
        margin-bottom: 6rem;
    }
    .about-containers {
        flex-wrap: wrap;
    }
}

/* Adjustments for screens with max width of 1200px */
@media screen and (max-width: 1200px) {
    #desktop-nav {
        display: none; /* Hide desktop navigation for smaller screens */
    }
    #hamburger-nav {
        display: flex; /* Display mobile navigation (hamburger menu) */
    }
    #experience, .experience-details-container {
        margin-top: 2rem;
    }
    #profile, .section-container {
        display: block; /* Change layout to block for simplicity */
    }
    .arrow {
        display: none; /* Hide arrows on smaller screens */
    }
    section, .section-container {
        height: fit-content; /* Auto-adjust height to content */
    }
    section {
        margin: 0 5%; /* Add margin to section for better spacing */
    }
    .section_pic-container {
        width: 275px;
        height: 275px;
        margin: 0 auto 2rem; /* Center picture container and add bottom margin */
    }
    .about-containers {
        margin-top: 0; /* Remove top margin for alignment */
    }
}

/* Adjustments for screens with max width of 600px */
@media screen and (max-width: 600px) {
    #contact, footer {
        height: 40vh;
    }
    #profile {
        height: 83vh;
        margin-bottom: 0; /* Remove bottom margin for tight spacing */
    }
    article {
        font-size: 1rem; /* Standardize font size */
    }
    footer nav {
        height: fit-content;
        margin-bottom: 2rem; /* Ensure navigation doesn’t overlap other elements */
    }
    .about-containers, .contact-info-upper-container, .btn-container {
        flex-wrap: wrap; /* Ensure elements wrap correctly on smaller screens */
    }
    .contact-info-container {
        margin: 0; /* Remove margin for uniform appearance */
    }
    .contact-info-container p {
        font-size: 1rem;
        line-height: 2.5rem; /* Adjust line height for readability */
    }
    .nav-links li a {
        font-size: 1rem; /* Ensure navigation links are readable */
    }
    .experience-sub-title {
        font-size: 1.25rem; /* Slightly larger font for emphasis */
    }
    .logo {
        font-size: 1.5rem; /* Make logo slightly larger for visibility */
    }
    .nav-links {
        flex-direction: column;
        gap: 0.5rem;
        text-align: center; /* Stack navigation links vertically */
    }
    .section_pic-container {
        width: auto;
        height: 46vw; /* Adjust picture container size relative to screen width */
        justify-content: center;
    }
    .section_text_p2 {
        font-size: 1.25rem; /* Increase font size for secondary texts */
    }
    .title {
        font-size: 2rem; /* Increase title font size for prominence */
    }
    .text-container {
        text-align: justify; /* Align text for better readability */
    }
}