@keyframes waveAnimation 
{
    0%, 100% {
      transform: rotate(-10deg);
    }
    50% {
      transform: rotate(10deg);
    }
  }
  
  .waving-hand 
  {
      display: inline-block;
      /* allows transform to work properly */
      vertical-align: middle;
      animation: waveAnimation 1s ease-in-out infinite;
  }

@media screen and (min-width: 1920px) 
{
    body 
    {
        max-width: 1920px; /* Adjust this width as needed */
        margin: auto; /* Centers the content */
    }
    .about-containers
    {
        flex-wrap: wrap;
    }
    a:hover
    {
        color: grey;
        text-decoration: underline;
        text-underline-offset: 0.75rem;
        /* this sets the underline affect to have a bit more space between the text and the line as opposed to the usual actual underline*/
        text-decoration-color: rgb(163, 163, 163);
    }
    .text-container a:hover
    /* this selector targets only the <a> elements that are within <p> tags inside elements with the .text-container class when they are hovered over */
    {
        color: grey;
        text-decoration: underline;
        text-underline-offset: 0.35rem;
        /* this sets the underline affect to have a bit more space between the text and the line as opposed to the usual actual underline*/
        text-decoration-color: rgb(163, 163, 163);
    }
    .contact-info-container a:hover
    /* this selector targets only the <a> elements that are within <p> tags inside elements with the .contact-info-container class when they are hovered over */
    {
        color: grey;
        text-decoration: underline;
        text-underline-offset: 0.5rem;
        /* this sets the underline affect to have a bit more space between the text and the line as opposed to the usual actual underline*/
        text-decoration-color: rgb(163, 163, 163);
    }
}

@media screen and (max-width: 1440px) 
{
    .about-containers
    {
        flex-wrap: wrap;
    }
    a:hover
    {
        color: grey;
        text-decoration: underline;
        text-underline-offset: 0.75rem;
        /* this sets the underline affect to have a bit more space between the text and the line as opposed to the usual actual underline*/
        text-decoration-color: rgb(163, 163, 163);
    }
    .text-container a:hover
    /* this selector targets only the <a> elements that are within <p> tags inside elements with the .text-container class when they are hovered over */
    {
        color: grey;
        text-decoration: underline;
        text-underline-offset: 0.35rem;
        /* this sets the underline affect to have a bit more space between the text and the line as opposed to the usual actual underline*/
        text-decoration-color: rgb(163, 163, 163);
    }
    .contact-info-container a:hover
    /* this selector targets only the <a> elements that are within <p> tags inside elements with the .contact-info-container class when they are hovered over */
    {
        color: grey;
        text-decoration: underline;
        text-underline-offset: 0.5rem;
        /* this sets the underline affect to have a bit more space between the text and the line as opposed to the usual actual underline*/
        text-decoration-color: rgb(163, 163, 163);
    }
    .logo
    {
        font-size: 2.2rem;
        /* changes the size of the logo (my name Peter Pham)*/
        padding-left: 30px;
        padding-right: 20px;
    }
    .nav-links li a
    {
        /* blank for now*/
    }
}

@media screen and (max-width: 1200px) 
{
        .menu-links a
    {
        display: block;
        padding: 10px;
        text-align: center;
        font-size: 1.25rem;
        color: black;
        text-decoration: none;
        transition: all 0.3 ease-in-out;
    }

    .logo
    {
        font-size: 2.2rem;
        /*changes the size of the logo (my name Peter Pham)*/
    }
    #desktop-nav 
    {
        display: none;
        /* when the screen size is lower than 1200px, the screen navigation will not show up and what we want to show up instead is the hamburger menu*/
    }
    #hamburger-nav
    {
        display: flex;
    }
   #experience, .experience-details-container
   {
        margin-top: 2rem;
   }
   #profile2
   {
       padding-bottom: 3rem;
       /* just like for the line within 600px, for widths <1200px, this will make the spacing from the bottom of the linkedin button icon larger or smaller from the next about section*/
   }
   #profile2, .section-container
   {
        display:block;
   }
   .arrow
   {
        display: none;
   }
   section, .section-container
   {
        height: fit-content;
   }
   .section_text
   {
        align-items: center;
        justify-content: center;
        display: flex;
   }
   section
   {
        margin: 0 5%;
   }
   .section_pic-container
   {
        width: 275px;
        height:275px;
        margin: 0 auto 2rem;
   }
   .about-containers
   {
        margin-top: 0;
   }
   .about-containers, .contact-info-upper-container, .btn-container
    /* the entirety of the contact me box cotnainer, contents, etc.*/
    {
        flex-wrap: wrap;
    }
   a:hover
   /* added because hyperlink hover underlines were overflowing on smaller screens */
   {
   color: grey;
   text-decoration: underline;
   text-underline-offset: 0.75rem;
   /* this sets the underline affect to have a bit more space between the text and the line as opposed to the usual actual underline*/
   text-decoration-color: rgb(163, 163, 163);
   }
   .text-container a:hover
   /* this selector targets only the <a> elements that are within <p> tags inside elements with the .text-container class when they are hovered over */
   {
       color: grey;
       text-decoration: underline;
       text-underline-offset: 0.35rem;
       /* this sets the underline affect to have a bit more space between the text and the line as opposed to the usual actual underline*/
       text-decoration-color: rgb(163, 163, 163);
   }
   .contact-info-container a:hover
   /* this selector targets only the <a> elements that are within <p> tags inside elements with the .contact-info-container class when they are hovered over */
   {
       color: grey;
       text-decoration: underline;
       text-underline-offset: 0.5rem;
       /* this sets the underline affect to have a bit more space between the text and the line as opposed to the usual actual underline*/
       text-decoration-color: rgb(163, 163, 163);
   }
   .nav-links li a
   {
       font-size: 1.25rem;
       /* the link list items like home, about, experience, projects, etc.*/
   }
   .nav-links
   {
       flex-wrap: wrap;
       /* the vertical space between the nav links like home, about, etc. */
       text-align: center;
       justify-content: center;
       margin: 0 auto;
       width: 100%;
       margin-bottom: 1rem; 
       /* this is needed so that the footer is nearly the same amount of space vertically down when you change the size of the screen and the nav-links items can either be 1 or 2 rows*/
   }
   
}

@media screen and (max-width: 600px) 
{
        .menu-links a
    {
        display: block;
        padding: 10px;
        text-align: center;
        font-size: 1rem;
        color: black;
        text-decoration: none;
        transition: all 0.3 ease-in-out;
    }
    #profile2
    {
        padding-bottom: 3rem;
        /* for widths <600px, this will make the spacing from the bottom of the linkedin button icon larger or smaller from the next about section*/
    }
    article
    {
        font-size: 1rem;
    }
    footer
    {
        padding-bottom: 10rem; /* Adds 10rem of padding at the bottom */
    }
    footer nav
    {
        height: fit-content;
        margin-bottom: 2rem;
    }
    a:hover
    /* added because hyperlink hover underlines were overflowing on smaller screens */
    {
    color: grey;
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    /* this sets the underline affect to have a bit more space between the text and the line as opposed to the usual actual underline*/
    text-decoration-color: rgb(163, 163, 163);
    }
    .about-containers, .contact-info-upper-container, .btn-container
    /* the entirety of the contact me box cotnainer, contents, etc.*/
    {
        flex-wrap: wrap;
    }
    .contact-info-container
    {
        margin: 0;
    }
    .contact-info-container p
    {
        font-size: 1rem;
        line-height: 2.5rem;
        /* the linkedin url, phmptr@gmail.com characters, etc. */
    }
    .contact-info-container a:hover
    /* this selector targets only the <a> elements that are within <p> tags inside elements with the .contact-info-container class when they are hovered over */
    {
        color: grey;
        text-decoration: underline;
        text-underline-offset: 0.4rem;
        /* this sets the underline affect to have a bit more space between the text and the line as opposed to the usual actual underline*/
        text-decoration-color: rgb(163, 163, 163);
    }

    .nav-links li a
    {
        font-size: 1rem;
        /* the link list items like home, about, experience, projects, etc.*/
    }
    .experience-sub-title
    {
        font-size: 1.25rem;
    }
    .logo
    {
        font-size: 1.5rem;
    }
    .nav-links
    {
        flex-direction: column;
        gap: 0.5rem;
        /* the vertical space between the nav links like home, about, etc. */
        text-align: center;
    }
    .section_pic-container
    {
        width: auto;
        justify-content: center;
    }
    .title
    {
        font-size: 2rem;
    }
    .text-container a:hover
    /* this selector targets only the <a> elements that are within <p> tags inside elements with the .text-container class when they are hovered over */
    {
        color: grey;
        text-decoration: underline;
        text-underline-offset: 0.35rem;
        /* this sets the underline affect to have a bit more space between the text and the line as opposed to the usual actual underline*/
        text-decoration-color: rgb(163, 163, 163);
    }
    .details-container p a:hover {
        /* this was created to handle the underlining for the hyperlinks located within the projects*/
        color: grey;
        text-decoration: underline;
        text-underline-offset: 0.35rem;
        text-decoration-color: rgb(163, 163, 163);
    }
    .paragraph-images 
    {
        text-align: center;
    }

    .paragraph-images img 
    {
        display: inline-block;
        vertical-align: middle;
        max-width: 90%;
        /* ensures the images doesn't take more than 90% of their container(s) */
        /* adjusts the alignment(s) of the images, regardless of width or height, to the middle of each other */
        width: 350px;
        margin: 10px;
        /* adds 10 pixels of space on all sides of each image (up, down, left, right) */
    }

    .menu-links.open
    {
        margin-top: 7px;
        /* adds a slight space from the hamburger menu/x menu to the first list item (about) */
        border: 1px solid black;
        /* creates a black border outline on mobile or 600px or less screen width so that it isn't jarringly white */
    }
    .typewriter_text, .section_text_p2 
    {
        font-size: 1.1rem;
    }
}