/* GENERAL */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*
{
    margin: 0;
    padding: 0;
}

body

{
    font-family: "Poppins", sans-serif;
}

html

{
    scroll-behavior: smooth;
}

p{
    color: rgb(85,85,85);
}

/* TRANSITION */

a, .btn

{
    transition: all 300ms ease;
    /* applies a transition effect to all properties (such as color, size, opacity, etc.) of elements with classes "a" and "btn" -- the transition effect will occur over a duration of 300 milliseconds, with an easing function applied to smoothen the change */
}



/* DESKTOP NAV*/
nav, .nav-links
{
    display: flex;
    /* this sets the links to a horizontal flex view as opposed to top-down view*/
}

nav
{
    justify-content: space-around;
    align-items: center;

    height: 17vh;
    /* previously 17vh -- changed to margin-top + bot of 2rem so that the screen doesn't adjust incorrectly*/
}

.nav-links
{
    gap: 2rem;
    /* not pixels (another way to say it -- related to pixels), but is a unit of measurement
    default paragraph is usually set to 1rem*/
    list-style: none;
    /* removes the bullet points in the links */
    font-size: 1.5rem;
}

a
{
    color: black;
    text-decoration: none;
    text-decoration-color: white;
}

a:hover
{
    color: grey;
    text-decoration: underline;
    text-underline-offset: 0.75rem;
    /* this sets the underline affect to have a bit more space between the text and the line as opposed to the usual actual underline*/
    text-decoration-color: rgb(163, 163, 163);
}

.logo
{
    font-size: 2rem;
    /*changes the size of the logo (my name Peter Pham)*/

}

.logo:hover
{
    cursor: default;
    /*this changes the cursor behavior so that when you hover over the logo (my name Peter Pham), the cursor doesn't change to a pointer or anything other than the default mouse cursor*/
}

/* HAMBURGER MENU*/

#hamburger-nav
{
    display:none;
    /* in a desktop view, the hamburger view doesn't show up*/
}

.hamburger-menu
{
    position: relative;
    display: inline-block;
    z-index: 1000;   
}

.hamburger-icon
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span
{
    width: 100%;
    height: 2px;
    background-color: black;
    /* this controls the look of the hamburger three ---*/
    transition: all 0.3 ease-in-out;
    /* makes the hamburger menu an x when we click it*/
}

.menu-links
{
    position: absolute;
    top: 100%;
    right: 0;
    /* this places the (navigation) links on the top right*/
    background-color: white;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}

.menu-links a
{
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

.menu-links li
{
    list-style: none;
}

.menu-links.open
{
    margin-top: 7px;
    /* adds a slight space from the hamburger menu/x menu to the first list item (about) */
    max-height: 400px;
    /* this needs to be increased if the number of dropdown links/options increase -- it was previously 300px but then my last item Contact was cut in half */
}

.hamburger-icon.open span:first-child
{
    transform: rotate(45deg) translate(10px, 5px);
    /* we are transform the line by rotating it into an x and we are also moving it slightly by rotating it in x and y directions */
}

.hamburger-icon.open span:nth-child(2)
{
    opacity: 0;
    /* we are removing the second line completely */
}

.hamburger-icon.open span:last-child
{
    transform: rotate(-45deg) translate(10px, -5px);
    /* we are transform the line by rotating it into an x and we are also moving it slightly by rotating it in x and y directions */
}

.hamburger-icon span:first-child
{
    transform: none;
}
.hamburger-icon span:first-child
{
    opacity: 1;
}
.hamburger-icon span:first-child
{
    transform: none;
}


/* SECTIONS STYLING */

section
{
    /* padding-top: 0vh;
        /* want a bit of space between each section*/
    /* height: 100vh;
        /* if edited, the viewheights should equal 100*/
    margin: 2rem 10rem;
    /* 0 top and bottom, 10rem on the sides */
    box-sizing: border-box;
    min-height: fit-content;
    /* ensures that items don't overlap eachother and that everything looks nice*/
}

.section-container
{
    display: flex;
    
}

/* PROFILE SECTION */

#profile2
{
    display: flex;
    justify-content: center;
    gap: 5rem;
    /* gap between profile picture and the "hello i'm..." text*/
    /* after hours of tinkering I realized this is why there's such a huge white space between the profile section to the about me section -- this will need to be adjusted via mediaqueries for different screen*/

}

#profile2 .text-container p 
{
    font-size: 9.5px;
    /* reduces the font size of the text below the social button icons */
    width: 100%;
    /* ensures the container takes full width of its parent */
    max-width: 250px;
    /* restricts maximum width for better readability -- i.e, 250px makes the text take up 2 lines, 500 would make it take up one, etc. */
    margin: auto;
    /* centers the container within its parent element horizontally */
}


#profile2 .icon
{
    cursor: pointer;
}
.section_pic-container
{
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
}

.profile-pic
{
    border-radius: 2rem; /* makes the padded square radius for the profile pics*/
}

.section_text
{
    align-self: center;
    text-align: center;
    justify-content: center; /* centers children horizontally */
    flex-direction: column; /* stacks children vertically */
}


.typewriter_text {
    font-size: 1.5rem;
    justify-content: center;
    position: relative;
    display: block;
    overflow: hidden; /* Important for keeping the cursor in line */
    white-space: nowrap;
    width: max-content;
    min-width: 100%;
}

.typewriter_text:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: white; /* Remove the red color here */
    border-left: 2px solid black; /* Blue cursor */
    animation: animate 4s steps(21) infinite;
}
@keyframes animate
{
    40%, 60%{
        left: calc(100% + 4px);
    }
    100%{
        left: 0%;
    }
}

.typewriter_texter, .section_text_p2 {
    display: block;
    vertical-align: middle; /* adds right margin to the typewriter_text for spacing */
    word-wrap: break-word;
    width: 100%
    
}

.section_text p
{
    font-weight: 600;
}

.section_text_p1
{
    text-align: center;
    padding-top: 1rem;
    /* i set the padding to 1rem because when you clink on the nav links (about, experience, etc.), the texts such as "get to know more..." or "explore my..." were lined exactly at the top of the browser -- this gives breathing room for a more aesthetic link */
    /* this is the "get to know more, get in touch, etc. small text" */
}

.section_text_p2
{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    /* the vertical space between analyst and the download/contact info buttons */
    margin-right: 0;
    /* removes right margin from section_text_p2 if it's the last element, which we already did with margin0right in typewriter_text + section_text_p2 above */
}

.title
{
    font-size: 3rem;
    text-align: center;
}

#socials-container
{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

/* ICONS */


.icon
{
    cursor: default;
    height: 2rem; /* this controls the actual size of the icons*/
}

.icon.arrow
{
    cursor: pointer;
    height: 2rem; /* this controls the actual size of the icons*/
}

/* BUTTONS */

.btn-container
{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn-container .btn.btn-color-1.project-btn {
    color: white;                /* text color */
    text-decoration: none;         /* removes underline */
    display: inline-block;         /* proper alignment and block behavior */
    width: 6rem;                   /* width of the button */
    padding: 1rem;                 /* padding around text */
    border-radius: 1rem;           /* rounded corners */
    font-weight: 600;              /* font boldness */
    text-align: center;            /* center text */
    transition: all 300ms ease;    /* smooth transition for hover effects */
    border: 1px solid rgb(53, 53, 53); /* border styling */
    line-height: normal;           /* line height for text */
    cursor: pointer;               /* cursor indicates it's clickable */
    background: rgb(53,53,53);   /* makes the button color a deep grey/black */
    font-size: .85rem;             /* changes the font size of the button (ex. contact info, website link*/
}

.btn
{
    color: black; /* makes the color of the download cv text within the intro section button black -- it was blue as if it were a hyperlink on some displays*/
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 1rem; /* changes the shape of the buttons -- 2rem makes it more oval, 1 rem makes it a smoother rectangle*/
    font-size: .85rem;
}

.btn-color-1, .btn-color-2
{
    border: rgb(53,53,53) 0.1rem solid;
}

.btn-color-1:hover, .btn-color-2:hover
{
    cursor: pointer;
}

.btn-color-1, .btn-color-2:hover
{
    background: rgb(53,53,53);
    color: white;
}

.btn-color-1:hover
{
    background: rgb(0,0,0);
}

.btn-color-2
{
    background: none;
}

.btn-color-2:hover
{
    border: rgb(255,255,255) 0.1rem solid;
}


/* ABOUT SECTION */

#about
{
    position: relative;
}

.about-containers
{
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.about-details-container
{
    justify-content: center;
    flex-direction: column;
}

.about-containers, .about-details-container
{
    display:flex;
}

.about-pic
{
    border-radius: 2rem;
}

.arrow
{
    position: absolute;
    right: -5rem;
}

.details-container
{
    padding: 1.5rem;
    flex: 1;
    background: white;
    border-radius: 2rem;
    border: rgb(53,53,53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    text-align: center;
}

.section-container
{
    gap: 4rem;
    height: 80%;
}

.section_pic-container{
    height: 400px;
    width: 400px;
    margin: auto 0;
}

/* EXPERIENCE SECTION */

#experience
{
    position: relative;
}

#experience .icon1
/* this was created because the svg icons for the data analysis items in html were*/
{
    cursor: cursor;
    height: 1.5rem;
    /* this controls the actual size of the icons*/
}

.article-container
{
    display: flex;
    justify-content: center;
    text-align: initial;
    flex-wrap: wrap;
    /* if or when the contents of the container overflow (i.e., data analysis languages), they'll now wrap around or under eachother */
    flex-direction: row;
    gap: 2.5rem;
    /* need this to align the icon/texts (SQL, Python) so that it's in the center of the container*/
    align-items: flex-start;
    /* changed to align items from left to right */
    
}

.experience-sub-title
{
    color: black;
    font-weight: 600;
    font-size: 1.75rem;
    /* the font size of the items within the boxes like "data analysis", "development", etc. */
    margin-bottom: 2rem;
}

.experience-details-container
{
    display: flex;
    justify-content: center;
    flex-direction: column;
}


article
{
    display: flex;
    width: 10rem;
    gap: 0.5rem;
    align-items: center; /* Center the icon with the text */
    /* justify-content: center; */
    /* temporarily removed because it throws off the centering of the items*/
}

article.icon
{
    cursor: default;
}

/* the following .paragraph items were created to manage images within the experience section (mainly vizs) */
.paragraph-images 
{
    text-align: center;
}

.paragraph-images img 
{
    display: inline-block;
    vertical-align: middle;
    max-width: 90%;
    /* adjusts the alignment(s) of the images, regardless of width or height, to the middle of each other */
    width: 500px;
    margin: 10px;
    /* adds 10 pixels of space on all sides of each image (up, down, left, right) */
}

/* PROJECTS SECTION */
.details-container p a:hover {
    /* this was created to handle the underlining for the hyperlinks located within the projects*/
    color: grey;
    text-decoration: underline;
    text-underline-offset: 0.35rem;
    text-decoration-color: rgb(163, 163, 163);
}


#projects
{
    position: relative;
}

.color-container
{
    border-color: rgb(163, 163, 163);
    background: rgb(250, 250, 250);
}

.project-img
{
    border-radius: 1rem;
    /* changed from 2rem to 1rem because it looked too round on mobile*/
    width: 40%;
    height: 40%;
}

.project-title
{
    margin: 1rem;
    color: black;
}



/* CONTACT SECTION */

#contact
{
    display:flex;
    justify-content: center;
    flex-direction: column;
    /* height: 70vh; */
}

.contact-info-upper-container
{
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    background: (250,250,250);
    margin: 2rem auto;
    padding: 0.5rem;
}

.contact-info-container
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem;
}

.contact-info-container p
{
    font-size: larger;
}

.contact-icon
{
    cursor: default;
}

.email-icon
{
    height: 2.5rem;
    /* this was added and an email-icon class created to attempt to make it the same size as the linkedin icon which was slightly bigger*/
}

footer
{
    height: 26vh;
    margin: 0 1rem;
}

footer p
{
    text-align: center;
}

/* ARTWORK PAGE SECTION */

#artwork
{
    position: relative;
}

.artwork-about-container
{
    display: flex;
    gap: 3rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    justify-content: center;
    flex-wrap: wrap;
}

.artwork-container-color-container
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    /* keeps children aligning right to left */
    gap: 2.5rem;
    align-items: center;
    /* this is critical for vertical centering */
}

.artwork-container
{
    /* if specific styles are needed here, they can be added, but this is the inner container */
}

.artwork-img
{
    max-width: 360px;
    max-height: 360px;
    width: auto;
    height: auto;
    transition: filter 0.3s ease;
    /* smooth transition for the filter effect */
}

.artwork-title
{
    margin: 1rem;
    color: black;
    text-align: center;
    /* center align the titles under each image */
    width: 100%;
    /* full width to ensure it's under the image */
}

.artwork-img:hover
{
    filter: grayscale(100%); /* Converts the image to grayscale on hover */
}